[Unit]
Description=vExpress Scheduling

[Service]
WorkingDirectory=/opt/vexpress-scheduling
ExecStart=/usr/bin/java -Xmx512m -jar /opt/vexpress-scheduling/vexpress-scheduling.jar

[Install]
WantedBy=multi-user.target